body,
html {
    height: 100vh;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: row;
    background: #ced4da;
}

header {
    height: 100vh;
    width: 30%;
    background: #1f2426;
    background: linear-gradient(
        253deg,
        rgba(31, 36, 38, 1) 0%,
        rgba(0, 0, 0, 1) 50%,
        rgba(31, 36, 38, 1) 100%
    );
    padding: 0;
    margin: 0;
    font-family: "Pirata One", system-ui;
    font-weight: 700;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    color: lightgoldenrodyellow;
    h1 {
        text-decoration: underline;
    }
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

main {
    height: 100vh;
    width: 70%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    section {
        flex-grow: 1;
    }
    .section1 {
        background: orange;
    }

    .section2 {
        background: green;
    }
    .section3 {
        background: blue;
    }
}
