* {
    padding: 0;
    margin: 0;
}
body,
html {
    height: 100vh;
}

body {
    display: flex;
    flex-direction: row;
    background: #ced4da;
}

header {
    height: 100vh;
    width: 30%;
    background: #1f2426;
    background: linear-gradient(
        253deg,
        rgba(31, 36, 38, 1) 0%,
        rgba(0, 0, 0, 1) 50%,
        rgba(31, 36, 38, 1) 100%
    );
    padding: 0;
    margin: 0;
    font-family: "Pirata One", system-ui;
    font-weight: 700;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    color: lightgoldenrodyellow;
    h1 {
        text-decoration: underline;
    }
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

main {
    height: 100vh;
    width: 70%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    section {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        fieldset {
            width: 80%;
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
            div {
                flex: 1 1 40%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                input {
                    width: 90%;
                    height: 30px;
                }
                label {
                    font-size: 1.2rem;
                    font-family: Arial, Helvetica, sans-serif;
                }
            }
        }
    }
}
